body {
    background-color: #fff;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    flex: 1;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;

}

h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 90%;
    left: 5%;
}

.carousel-inner {
    border-radius: 20px;
}

.logo {
    width: 50px;
    height: auto;
    position: fixed;
    top: 0.5%;
    left: 48%;
}

.nav-item {
    padding-left: 12px;
}

.navbar-nav {
    padding: 0;
}

header {
    background-color: #f3fdef;
}

.dropdown-btn {
    background-color: #f3fdef;
    text-decoration: none;
    color: #000000a6;
}

.footer {
    background-color: #f3fdef;
  }
  
  .footer a {
    transition: text 0.5s ease;
  }

  .footer a:hover {
    color: #198754; 
  }
  
  .footer i {
    font-size: 1.2rem; 
  }
  
  .footer h5, .footer h6 {
    letter-spacing: 1px; 
  }

.row {
    border-top: 1px #000c00;
}

.dropdown-item:hover {
    transition: all 0.5s ease;
}

.dropdown-item:hover {
    background-color: #dbfcce;
}